<html>
    <head>
        <title>
            MY First Node APi Shop
        </title>
    </head>
    <body>
        <h1> Hi EveryOne</h1>
        <% shop.forEach(function(item){ %>
            <li>
               <h1> <%= item.name %></h1>
            </li>
        <% }); %>
    </body>
</html>